.headerContainer {
    width: 100%;
    padding-right: 140px;
    display: flex;
    flex-direction: column;
}


@media all and (min-width: 0px) and (max-width: 796px) {
    .headerContainer {
        display: none;
    }
}

