.header-container-desktop {
    width: 100%;
    padding: 0 140px;
    box-sizing: border-box;
    display: flex;
    z-index: 500;
    flex-direction: column;
}

.header-container-mobile {
    display: none;
    box-sizing: border-box;
    z-index: 1000;
}

@media all and (min-width: 706px) and (max-width: 796px) {
    .header-container-desktop {
        padding: 0 98px;
    }
}

@media all and (min-width: 0px) and (max-width: 706px) {
    .header-container-desktop {
        display: none;
    }

    .header-container-mobile {
        display: block;
    }
}

