.bannerLeftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 570px;
    box-sizing: border-box;
    z-index: 200;
}

.leftTitle {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.head1 {
    margin-bottom: 20px;
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #171B24;
}

.title1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #454950;
}

@media all and (min-width: 0px) and (max-width: 706px) {
    .head1 {
        font-size: 26px;
    }

    .title1 {
        font-size: 13px;
    }
}
