.headerOptions {
    display: flex;
    align-items: center;
    width: 100%;
}

@media all and (min-width: 1024px){
    .headerOptions {
        padding-left: 114px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .headerOptions {
        padding-left: 16px;
    }
}
