.bannerRightSide {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    z-index: 200;
}

.arrowLeft {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    width: 52px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #D1D1D3;
    cursor: pointer;
    transition: all 300ms ease;
}

.arrowRight {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    width: 52px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #D1D1D3;
    margin-left: 12px;
    cursor: pointer;
    transition: all 300ms ease;
}

.arrowLeft:hover {
    background: #2F323A;
}

.arrowRight:hover {
    background: #2F323A;
}

.buttonWrapper {
    width: 147px;
    height: 48px;
}


@media all and (min-width: 0px) and (max-width: 706px) {
    .bannerRightSide {
        display: none;
    }
}

